.app {
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  min-width: 1200px;

  .panel {
    background-color: #f8f8f8;
    width: 500px;
    padding: 2rem;
    border-radius: 5px;

    .prompt {
      height: 300px;
    }

    .component-content {
      height: 200px;
    }

    .button-wrapper {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .answer {
      white-space: break-spaces;
    }

    .hightlight {
      border-color: #14dc2f;
      box-shadow: 0 0 0 2px #0ce2295c;
      border-right-width: 1px;
      outline: 0;
    }
  }
}
